<style>
  body { background-color: rgba(89, 64, 176, 0.1) }
</style>
<div class='container mt-4'>
  <div class='row justify-content-center'>
    <div class='col-md-6 custom-label'>
      <h1 class='login'>Login</h1>
      <form action='/login' method='POST'>
        <div class='mb-3'>
          <label for='username' class='form-label'>Username:</label>
          <input
            type='text'
            class='form-control'
            id='username'
            name='username'
            required
          />
        </div>
        <div class='mb-3'>
          <label for='password' class='form-label'>Password:</label>
          <input
            type='password'
            class='form-control'
            id='password'
            name='password'
            required
          />
        </div>
        <button type='submit' class='btn btn-purple'>Login</button>
      </form>
    </div>
  </div>
</div>