<h1>Signup</h1>

<form action='/signup' method='POST'>

  <label for='isStudent'>Account Type: </label>
  <input
    type='radio'
    id='isStudent'
    name='accountType'
    value='isStudent'
    checked
  />
  <label for='isStudent'>Student</label>

  <input
    type='radio'
    id='isInstructor'
    name='accountType'
    value='isInstructor'
  />
  <label for='isInstructor'>Instructor</label>

  <label>Username</label>
  <input type="'text" name='username' />

  <label>Email</label>
  <input type="'email" name='email' />

  <label>Password</label>
  <input type='password' name='password' />

  <button type='submit'>Create user</button>

</form>

{{#if errorMessage}}

  <div style='color:red'>{{errorMessage}}</div>
{{/if}}