{{!-- <div class='container'>
  <h1>Create Course</h1> --}}
  <div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">Create Course</h1>
  <form action='/courses' method='POST' enctype='multipart/form-data'>
    <div class='mb-3'>
      <label for='title' class='form-label'>Title:</label>
      <input
        type='text'
        class='form-control form-control-lg'
        id='title'
        name='title'
        placeholder='Insert course title'
        aria-label='.form-control-lg example'
        required
      />
    </div>
    <div class='mb-3'>
      <label for='description' class='form-label'>Description:</label>
      <textarea
        class='form-control'
        id='description'
        name='description'
        placeholder='Insert course description'
        aria-label='default input example'
        required
      ></textarea>
    </div>
    <div class='mb-3'>
      <label for='instructor' class='form-label'>Instructor:</label>
      <input
        type='text'
        class='form-control form-control-sm'
        id='instructor'
        name='instructor'
        placeholder='Insert your user name'
        aria-label='.form-control-sm example'
        required
      />
    </div>
    <div class='mb-3'>
      <label for='image' class='form-label'>Image:</label>
      <input
        type='file'
        class='form-control'
        id='image'
        name='image'
        accept='image/*'
      />
    </div>
    <button type='submit' class='btn btn-primary'>Create Course</button>
  </form>
</div>

 

{{!-- <div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <div class='card' style='width: 18rem;'>
        <img class='card-img-top' src='{{imageUrl}}' alt='Course image' />
        <div class='card-body'>
          <h5 class='course-title'>{{title}}</h5>
          <p class='course-description'>{{description}}</p>
          <p class='course-instructor'>{{instructor}}</p>
          <form action='/courses' method='POST'>
            <button class='btn btn-primary' type='submit'>Create Course</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> --}}