<style>
  body { background-color: rgba(89, 64, 176, 0.1) }
</style>

<div class='container mt-4 d-flex justify-content-center'>
  <div class='col-md-6 custom-label'>
    <h1 class='edit'>Edit Course</h1>
    <form action='/courses/{{_id}}' method='POST' enctype='multipart/form-data'>
      <div class='mb-3'>
        <label for='title' class='form-label'>Title:</label>
        <input
          type='text'
          class='form-control'
          id='title'
          name='title'
          value='{{title}}'
          required
        />
      </div>
      <div class='mb-3'>
        <label for='description' class='form-label'>Description:</label>
        <textarea
          class='form-control'
          id='description'
          name='description'
          required
        >{{description}}</textarea>
      </div>
      <div class='mb-3'>
        <label for='instructor' class='form-label'>Instructor:</label>
        <input
          type='text'
          class='form-control'
          id='instructor'
          name='instructor'
          value='{{instructor}}'
          readonly
        />
      </div>
      <div class='mb-3'>
        <label for='image' class='form-label'>Image:</label>
        <input
          type='file'
          class='form-control'
          id='image'
          name='image'
          accept='image/*'
        />
      </div>
      <button type='submit' class='btn btn-purple'>Save Changes</button>
    </form>
  </div>
</div>