<h2>Courses</h2>

{{#each courses}}

  <h3>{{title}}</h3>
  <p>{{description}}</p>
  <p>Instructor: <strong>{{instructor}}</strong></p>
  <a href='/courses/{{_id}}/details'>Course Details</a>

{{/each}}