<div class='container courses-container'>
  <h1 class='mb-4'>Courses</h1>
  <div class='row'>
    {{#each courses}}
      <div class='col-md-4'>
        <div class='card course-card'>
          <img src='{{imageUrl}}' class='card-img-top' alt='Course Image' />
          <div class='card-body'>
            <h5 class='card-title'>{{title}}</h5>

            <p class='card-text'>Instructor: {{instructor}}</p>
            <a href='/courses/{{_id}}' class='btn btn-purple'>View Details</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>