{{!-- <h1>{{appTitle}} 🚀</h1> --}}

<h3>Welcome to C-Art</h3>
<p>Unlock your creativity with our online Art courses, spanning Music, Film &
  Video, Visual Arts and more.</p>
<a href='/signup'>Signup</a>
<p>You need to signup to register for free classes</p>