{{!-- <html>
  <head>
    <title>c-art platform</title>
    <!-- Add your CSS and other stylesheets here -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <!-- Navigation Bar -->
    <nav>
      <ul class='menu'>
        <li><a href='/signup'>Signup</a></li>
        <li><a href='/login'>Login</a></li>
        <li><a href='/courses'>Courses</a></li>
        <li><a href='/logout'>Logout</a></li>
      </ul>
    </nav>

    <!-- Content Section -->
    <div class='content'>
      {{{body}}}
      <!-- This is where the content from specific views will be injected -->
    </div>

    <!-- Course Types Section -->
    <div class='course-types'>
      <ul>
        <li>
          <a href='/courses/music'>Music</a>
          <button><a href='/courses/music'>View Courses</a></button>
        </li>
        <li>
          <a href='/courses/film-video'>Film & Video</a>
          <button><a href='/courses/film-video'>View Courses</a></button>
        </li>
        <li>
          <a href='/courses/visual-arts'>Visual Arts</a>
          <button><a href='/courses/visual-arts'>View Courses</a></button>
        </li>
      </ul>
    </div>

    {{!--   {{> login}}
    {{> courses}} --}}

{{!  <footer>

    </footer>

    <footer>
      <!-- Add your footer content here -->
    </footer>

    <!-- Add your scripts and JavaScript files here -->
    <script src='/js/script.js'></script>
  </body>
</html> }}

<html>
  <head>
    <title>c-art-platform</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <ul class='menu'>
        {{#if currentUser}}

          {{#if currentUser.isInstructor}}

            <li><a href='/courses'>Courses</a></li>
            <li><a href='/logout'>Logout</a></li>
          {{else}}

            <li><a href='/courses'>Courses</a></li>
            <li><a href='/logout'>Logout</a></li>
          {{/if}}
        {{else}}

          <li><a href='/signup'>Signup</a></li>
          <li><a href='/login'>Login</a></li>
          <li><a href='/courses'>Courses</a></li>

        {{/if}}
      </ul>
    </nav>

    <div class='content'>
      {{{body}}}

    </div>

    <div class='course-types'>
      <ul>
        <li>
          <a href='/courses/music'>Music</a>
          <button><a href='/courses'>View Courses</a></button>
        </li>
        <li>
          <a href='/courses/film-video'>Film & Video</a>
          <button><a href='/courses'>View Courses</a></button>
        </li>
        <li>
          <a href='/courses/visual-arts'>Visual Arts</a>
          <button><a href='/courses'>View Courses</a></button>
        </li>
      </ul>
    </div>

    <footer>

    </footer>

    <script src='/js/script.js'></script>
  </body>
</html>