
<html lang='en'>
  <head>
    <title>c-art-platform</title>
    

    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css'
    />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <nav class='navbar navbar-expand-lg navbar-light bg-light'>
      <div class='container-fluid'>
        <ul class='navbar-nav'>
          {{#if currentUser}}
            {{#if currentUser.isInstructor}}
            <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://res.cloudinary.com/dnyobqmgl/image/upload/v1684608464/c-art-logo_edruia.png" alt="Logo" width="114" height="34" class="d-inline-block align-text-top">

    </a>
  </div>
</nav>
 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/courses">Courses</a>
        {{!-- <a class="nav-link" href="/logout">Logout</a> --}}
             </div>
             </div>
            {{else}}
                     <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://res.cloudinary.com/dnyobqmgl/image/upload/v1684608464/c-art-logo_edruia.png" alt="Logo" width="114" height="34" class="d-inline-block align-text-top">

    </a>
  </div>
</nav>
 <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/courses">Courses</a>
        <a class="nav-link" href="/logout">Logout</a>
             </div>
             </div>
            {{/if}}
          {{else}}

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://res.cloudinary.com/dnyobqmgl/image/upload/v1684608464/c-art-logo_edruia.png" alt="Logo" width="114" height="34" class="d-inline-block align-text-top">

    </a>
  </div>
</nav>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/courses">Courses</a>
        <a class="nav-link" href="/signup">Signup</a>
        <a class="nav-link" href="/login">Login</a>
      </div>
    </div>
  </div>
</nav>

          {{/if}}
       
    </nav>
    

      {{{body}}}


    <footer>
      <!-- Footer content goes here -->
    </footer>

    <!-- Include Bootstrap JS -->
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js'
    ></script>
    <script src='/js/script.js'></script>
  </body>
</html>