<h1>Welcome to the Student Dashboard</h1>

<ul>
  <li><a href='/courses'>Browse Courses</a></li>
  <li><a href='/courses/enrolled'>Enrolled Courses</a></li>
  <li><a href='/logout'>Logout</a></li>
</ul>

<div class='content'>

</div>

<footer>

</footer>

<script src='/js/script.js'></script>