<h1>Enrolled Courses</h1>

{{#if enrolledCourses.length}}
  <ul>
    {{#each enrolledCourses}}
      <li>{{this.course_title}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>No courses enrolled yet.</p>
{{/if}}