.courses-container {
  margin-top: 30px;
}

.course-card {
  margin-bottom: 30px;
}

.center-vertical {
  position: relative;
  top: 30%;
  transform: translateY(-40%);
}

/* Change the color of the navbar links */
.navbar-nav .nav-link {
  color: black !important;
  transition: color 0.3s; /* Add a transition effect for smooth color change */
}

/* Apply the hover effect to the text */
.navbar-nav .nav-link:hover {
  color: #5940b0 !important;
}
